.trackSong {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #3c3c3c;
  bottom: 0;
  height: 70px;
  opacity: 0.9;
}

.trackSong h2 {
  margin-left: 20px;
  text-align: center;
}

.trackSong div {
  margin-right: 20px;
  font-size: 25px;
  display: flex;
}

.trackSong .pause {
  margin-left: 10px;
  margin-right: 10px;
}
